openapi: "3.1.0"
info:
  title: "需求问诊室 API"
  version: "1.3.0"
  description: |
    需求问诊室（ReqClinic）API v1.3 线协议。真实链路按本规范提供 HTTP API；演示链路仅以浏览器内 MockTransport 实现同一 operation 契约。覆盖快速问诊（P0）、正式项目（P1）和表达训练（P2）三种产品模式。

    ## v1.1 变更
    - servers URL 补齐 `/api/v1` 前缀
    - 删除用户级数据处理方式选择；敏感信息检测与最小化处理由服务端统一执行
    - 8 个 AI 端点统一返回 202 + job_id；新增 AsyncAcceptedResponse schema
    - 159 个对象 Schema 添加 additionalProperties: false；41 个 Schema 补充 required

    ## v1.2 变更
    - 异步轮询统一为 `/ai-jobs/{id}`，协议身份从认证上下文派生
    - 只认领指定快速问诊会话；认证凭证与产品埋点会话 ID 分离
    - 新增删除任务查询、严格事件 attributes、24 小时导出契约
    - 清理项目模式以及项目/来源出站策略，真实 AI 仅校验有效协议同意；所有示例通过 Schema 校验
    - 补齐页面恢复所需的读契约：快速问诊消息/当前问题、简报版本列表、正式项目基线/报告/变化列表、正式访谈/角色/证据追踪、冲突详情和训练反馈就绪状态

    ## v1.3 变更
    - 对齐当前实现：快速问诊和正式项目首期使用真实 HTTP + Job；表达训练真实 Runtime 待实现。
    - `TrainingCaseVersionDetail` 改为公开详情，不向浏览器返回 `answer_key`、完整 `disclosure_rules` 或隐藏事实。

    ## MockTransport 绑定
    - 本文是 MockTransport 与 HttpTransport 的共同线协议；两者共用相同 ApiClient、operationId、请求/响应类型和错误类型。
    - MockTransport 在浏览器内按 operationId 返回版本化 Fixture，不访问下方 servers、数据库或真实模型。
    - Mock handler 只能返回对应 operation 声明的状态码和 Schema；未注册 operation、Schema 不匹配或外部业务网络请求必须失败。
    - Mock 可模拟异步 Job、身份、协议同意、删除和错误状态，但不签发真实凭证、不形成法律记录、不执行服务器副作用。
    - 演示链路中的自定义输入仅进入本地 Draft Store，不得发送到 Fixture 分析 handler 或套用预生成结论。
    - 生产构建使用 HttpTransport，且不得通过运行时用户开关切回 MockTransport。

    ## 通用约定
    - 生产基础路径：`/api/v1`
    - 媒体类型：`application/json; charset=utf-8`
    - ID 为服务端生成的稳定不透明字符串；时间为 UTC ISO 8601
    - 所有真实项目端点要求认证会话，并按项目成员能力授权
    - 写命令携带 `Idempotency-Key`。同一用户、端点、键和请求哈希返回首次结果；请求哈希不同返回 `409 IDEMPOTENCY_CONFLICT`
    - 修改现有对象携带 `expected_version`；版本不一致返回 `409 VERSION_CONFLICT`
    - 列表使用 `limit` 与不透明 `cursor`，默认 50，最大 200
    - 响应只返回当前用户有权查看的字段；内部 Prompt、模型推理、密钥和文件系统路径永不返回

    ## actor_kind 分层鉴权（§2.1）
    调用方身份分为两类 `actor_kind`：
    - `guest`：凭 `session_key`（不可直接识别个人）标识，不要求注册。可调用快速问诊端点（§5A）、表达训练端点（§12A）、产品埋点端点（§12B）、协议同意与游客会话端点（§3A/§3B）。本地开发和 demo 环境允许 guest 通过受控 owner bridge 创建/升级自己的正式项目，生产环境可收紧为正式登录用户。
    - `user`：通过正式登录认证。可调用上述全部端点 + 正式项目端点（§5–§11，需 `project_members` 能力）+ 升级端点（§5A.15）。

    游客登录后只认领指定快速问诊会话，保留该会话 ID、版本、问答、简报和协议来源；同一游客身份下其他记录不受影响。

    ## 协议同意前置（§2.2）
    所有进入真实 AI 流程或直接触发模型调用的端点必须先校验有效 `agreement_consents` 记录：
    - 首次使用真实 AI 前必须勾选"已阅读并同意服务与数据处理协议"；未同意时不能提交真实 AI 问诊、分析运行或报告编译。
    - 重大更新生效后，用户下一次发起新的真实 AI 调用前必须重新同意；非重大更新既有有效同意继续有效。
    - 撤回后立即阻止新的模型调用，并取消尚未发送给模型供应商的排队任务。
    - 未认证调用方返回 `401 UNAUTHENTICATED`；已有用户或游客身份但未同意有效协议时调用以下端点返回 `403 AGREEMENT_REQUIRED`：`POST /projects`、`POST /projects/{id}/analysis-runs`、`POST /projects/{id}/reports`、`POST /quick-sessions`、`POST /quick-sessions/{id}/messages`、`POST /quick-sessions/{id}/understanding-review`、`POST /quick-sessions/{id}/option-preferences`、`POST /quick-sessions/{id}/briefs`、`POST /quick-sessions/{id}/upgrade`、`POST /training-attempts`、`POST /training-attempts/{id}/questions`。

    ## 应用层限流、超时与排队（§2.3）
    - 限流按 `actor_kind` + 操作类别滑动窗口，响应头携带 `X-RateLimit-Limit`、`X-RateLimit-Remaining`、`X-RateLimit-Reset`；超限返回 `429 RATE_LIMITED`，响应体含 `retry_after_seconds`，`retryable=true`。
    - 单项目并发未完成 AI Job 达上限返回 `429 MODEL_BUSY`；全局队列满返回 `429 QUEUE_FULL`。
    - HTTP 请求整体超时（非 AI 写命令）30s；AI 写命令只等待 1s 内返回 `202 + job_id`，不等待模型结果。超过确认阈值按 `504 REQUEST_TIMEOUT` 或等价网络超时处理，客户端可用同一 `Idempotency-Key` 重试并取得首次 Job 状态。
    - AI Job 单次模型调用超时 90s，按重试策略退避重试（最多 3 次）；Job 最终状态通过轮询获取。

    ## 身份与能力
    | 能力 | Owner | Editor | Reviewer | Viewer | Exporter |
    |---|---|---|---|---|---|
    | 读取项目 | ✓ | ✓ | ✓ | ✓ | ✓ |
    | 编辑内容/发起分析 | ✓ | ✓ |  |  |  |
    | 执行人工关口 | ✓ |  | ✓ |  |  |
    | 管理成员 | ✓ |  |  |  |  |
    | 编译报告草稿 | ✓ | ✓ | ✓ |  |  |
    | 发布报告 | ✓ |  | ✓ |  |  |
    | 下载报告 | ✓ |  | ✓ |  | ✓ |

    ## 认证
    - Bearer Token 认证（session-based），支持 Cookie 回退（`actor_kind=user`）
    - 游客会话认证通过 `X-Session-Key` Header 或 `guest_session` Cookie（`actor_kind=guest`），二者都承载原始 `session_key`
    - 单用户部署仍创建真实用户和成员记录
    - 对象 ID 猜测不能绕过成员校验
  contact:
    name: "ReqClinic Team"
  license:
    name: "Proprietary"
    url: "https://github.com/reqclinic"

x-stage-a-mock-contract:
  enabled_in: "stage-a-demo-only"
  transport: "in-browser"
  network_access: false
  contract_source: "this-document"
  fixture_source: "versioned-case-packages"
  production_switch: "build-time"

servers:
  - url: "https://api.reqclinic.com/api/v1"
    description: "生产服务器"
  - url: "https://dev-api.reqclinic.com/api/v1"
    description: "本地开发服务器"

security:
  - bearerAuth: []
  - cookieAuth: []

tags:
  - name: "项目与建档"
    description: "Projects & Intake — 项目创建、查询、修改与建档追加"
  - name: "领域画像"
    description: "Domain Profiles — 领域画像生成、查询、评审与领域包管理"
  - name: "来源与证据"
    description: "Sources & Evidence — 来源上传、查询与证据片段获取"
  - name: "分析与作业"
    description: "Analysis & Jobs — 异步分析运行、作业状态轮询与取消"
  - name: "需求工程"
    description: "Requirements Engineering — 成果、需求、Driver、验收标准、冲突、评审、未来场景等"
  - name: "评审与关口"
    description: "Reviews & Gates — 类型化评审、项目关口评审与冲突解决"
  - name: "基线与报告"
    description: "Baselines & Reports — 基线创建与批准、报告编译、发布与下载"
  - name: "变化管理"
    description: "Change Management — 变化预演、真实变化登记、确认与撤回"
  - name: "快速问诊"
    description: "Quick Sessions & Briefs — 快速问诊会话、覆盖槽位、理解确认、需求简报与升级"
  - name: "游客会话"
    description: "Guest Sessions & Claim — 游客会话签发、恢复与认领"
  - name: "协议同意"
    description: "Agreement Consents — 协议版本查询、同意、重新同意与撤回"
  - name: "表达训练"
    description: "Expression Training — 训练案例、追问、总结、反馈与完成"
  - name: "产品埋点"
    description: "Product Analytics Events — 事件批量接收与最小 SQL 报表"
  - name: "身份认证"
    description: "Authentication — 前端会话状态、退出和账户恢复触发；具体身份提供方由实现配置"

paths:
  # ── §2C 身份认证 ──

  /auth/session:
    get:
      tags: ["身份认证"]
      summary: "获取当前登录会话"
      description: |
        返回前端渲染所需的登录状态、用户摘要和能力标记。该端点只描述产品前端与认证层的会话读取契约；真实登录、注册、OAuth/OIDC 回调和多因素认证可由框架或身份提供方实现。
      operationId: "getAuthSession"
      security: []
      responses:
        "200":
          description: "当前登录会话"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetAuthSessionResponse"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/logout:
    post:
      tags: ["身份认证"]
      summary: "退出登录"
      description: "清除当前用户会话 Cookie/Token。未登录时返回成功的无副作用响应。"
      operationId: "logout"
      security:
        - bearerAuth: []
        - cookieAuth: []
        - {}
      responses:
        "200":
          description: "已退出或当前无登录会话"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthLogoutResponse"
        "429":
          $ref: "#/components/responses/RateLimited"

  /auth/recovery/start:
    post:
      tags: ["身份认证"]
      summary: "发起账户恢复"
      description: "发起账户恢复或找回流程。具体邮件、短信、通行密钥或企业身份验证方式由身份模块实现；本端点只返回前端可展示的提交状态。"
      operationId: "startAccountRecovery"
      security: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AuthRecoveryStartRequest"
      responses:
        "202":
          description: "恢复流程已受理"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthRecoveryStartResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ── §5 项目与建档 ──

  /projects:
    post:
      tags: ["项目与建档"]
      summary: "创建项目"
      description: |
        创建新项目，同时创建建档记录和 Owner 成员关系。调用者需有效登录账户和系统级 `create_project` 权限；项目尚不存在，不能检查项目内 Owner 能力。事务成功后调用者成为新项目 Owner。进入真实 AI 流程还需有效协议同意。

        创建请求不接受 `source_upload_ids`：项目 ID 尚不存在时无法创建项目内 Source。客户端先创建草稿项目，再逐个调用项目上传端点。
      operationId: "createProject"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateProjectRequest"
            examples:
              default:
                summary: "创建项目示例"
                value:
                  initial_request: "我们需要构建一个面向社区医院的在线问诊平台，支持多院区协同。"
                  name: null
                  decision_intent: null
                  selected_work_type: null
                  candidate_roles: []
                  candidate_constraints: []
      responses:
        "202":
          description: "Accepted - 异步任务已入队"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateProjectAccepted"
              example:
                data:
                  project_id: "PRJ_..."
                  job_id: "JOB_..."
                  status: "queued"
                  status_url: "/api/v1/ai-jobs/JOB_..."
                meta:
                  request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/AIActionForbidden"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}:
    get:
      tags: ["项目与建档"]
      summary: "查询项目"
      description: |
        返回项目概要、当前阶段、版本、阻断项和当前基线/报告引用。

        需 `读取项目` 能力。
      operationId: "getProject"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: "项目详情"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetProjectResponse"
              examples:
                default:
                  value:
                    data:
                      id: "PRJ_..."
                      name: "在线问诊系统"
                      description: "构建面向社区医院的在线问诊平台"
                      status: "Eliciting"
                      risk_level: "medium"
                      language: "zh-CN"
                      version: 8
                      owner_id: "USR_..."
                      created_by: "USR_..."
                      current_domain_profile_id: "DP_..."
                      current_baseline:
                        id: "BL_..."
                        baseline_version: 1
                        status: "approved"
                      current_report: null
                      blockers:
                        - type: "conflict"
                          id: "CF_..."
                          description: "数据隐私与实时监控存在冲突"
                          severity: "high"
                      created_at: "2026-07-01T08:00:00Z"
                      updated_at: "2026-07-01T10:30:00Z"
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

    patch:
      tags: ["项目与建档"]
      summary: "修改项目"
      description: |
        修改名称、语言和风险等级等项目属性。需 `编辑内容/发起分析` 能力。

        项目和来源均不存在可配置的数据出站策略；触发真实 AI 时统一校验有效协议同意。
      operationId: "updateProject"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-versioned: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchProjectRequest"
            examples:
              default:
                value:
                  name: "在线问诊系统 V2"
                  description: "扩展至三甲医院协作场景"
                  risk_level: "high"
                  language: "zh-CN"
                  expected_version: 8
      responses:
        "200":
          description: "项目修改成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchProjectResponse"
              examples:
                default:
                  value:
                    data:
                      id: "PRJ_..."
                      owner_id: "USR_001"
                      name: "在线问诊系统 V2"
                      description: "扩展至三甲医院协作场景"
                      status: "Eliciting"
                      risk_level: "high"
                      language: "zh-CN"
                      version: 9
                      updated_at: "2026-07-01T11:00:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/VersionConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

    delete:
      tags: ["项目与建档"]
      summary: "软删除正式项目"
      description: |
        软删除正式项目（对齐 §5.2、PRD §10.5、ADD §9.5）。创建 `delete_tasks` 记录（`scope=formal_project`），
        项目及其数据立即对普通用户和业务流程不可用，主存储在 30 天内物理清除；存在法律保留或合同义务时
        暂停物理清除并显示状态（`legal_hold=1`）。

        需 `Owner` 能力（只有项目所有者可以发起删除）。需 `Idempotency-Key`。无需 `expected_version`。
      operationId: "deleteProject"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      responses:
        "202":
          description: "删除任务已受理，数据立即对用户不可用，30 天内物理清除"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTaskAccepted"
              examples:
                default:
                  value:
                    data:
                      delete_task_id: "DT_..."
                      scope: "formal_project"
                      target_id: "PRJ_..."
                      status: "pending"
                      estimated_purge_at: "2026-08-01T00:00:00Z"
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/LegalHoldConflict"
        "429":
          $ref: "#/components/responses/RateLimited"

  /delete-tasks/{id}:
    get:
      tags: ["项目与建档"]
      summary: "查询删除任务状态"
      description: |
        发起删除的用户/游客、相关正式项目 Owner 或系统管理员可以查询。其他主体与不存在统一返回
        `404 RESOURCE_NOT_FOUND`。查询任务不会恢复目标资源的读取权限。
      operationId: "getDeleteTask"
      security:
        - bearerAuth: []
        - cookieAuth: []
        - guestSessionAuth: []
        - guestSessionCookieAuth: []
      parameters:
        - $ref: "#/components/parameters/DeleteTaskId"
      responses:
        "200":
          description: "删除任务状态"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DeleteTaskStatusResponse"
              examples:
                default:
                  value:
                    data:
                      delete_task_id: "DT_..."
                      scope: "formal_project"
                      target_id: "PRJ_..."
                      status: "in_progress"
                      legal_hold: false
                      legal_hold_reason: null
                      failure_reason: null
                      created_at: "2026-07-02T00:00:00Z"
                      updated_at: "2026-07-02T00:05:00Z"
                      completed_at: null
                      estimated_purge_at: "2026-08-01T00:00:00Z"
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /projects/{id}/intakes:
    post:
      tags: ["项目与建档"]
      summary: "追加建档记录"
      description: |
        追加修订后的原始输入，需 `supersedes_intake_id`，永不覆盖原记录。

        需 `编辑内容/发起分析` 能力和有效协议同意。
      operationId: "createIntake"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIntakeRequest"
            examples:
              default:
                value:
                  original_text: "补充说明：系统需支持多院区协同……"
                  decision_intent: "确认多院区部署方案"
                  selected_work_type: "healthcare-platform"
                  candidate_roles:
                    - name: "院区管理员"
                      role: "coordinator"
                  candidate_constraints:
                    - type: "regulatory"
                      description: "需符合《医疗机构管理条例》"
                  supersedes_intake_id: "INT_..."
      responses:
        "201":
          description: "建档记录创建成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateIntakeResponse"
              examples:
                default:
                  value:
                    data:
                      id: "INT_..."
                      project_id: "PRJ_..."
                      intake_version: 2
                      original_text: "补充说明：系统需支持多院区协同……"
                      decision_intent: "确认多院区部署方案"
                      selected_work_type: "healthcare-platform"
                      candidate_roles:
                        - name: "院区管理员"
                          role: "coordinator"
                      candidate_constraints:
                        - type: "regulatory"
                          description: "需符合《医疗机构管理条例》"
                      supersedes_intake_id: "INT_..."
                      content_hash: "sha256:..."
                      submitted_by: "USR_..."
                      created_at: "2026-07-01T11:30:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/members:
    get:
      tags: ["项目与建档"]
      summary: "查询项目成员列表"
      description: "返回项目成员列表。需 `读取项目` 能力。"
      operationId: "listMembers"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: "成员列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListMembersResponse"
              examples:
                default:
                  value:
                    data:
                      - user_id: "USR_001"
                        display_name: "张三"
                        email: "zhangsan@example.com"
                        capabilities: ["read", "edit", "review", "export", "manage_members"]
                        status: "active"
                        version: 1
                        granted_by: "USR_001"
                        created_at: "2026-07-01T08:00:00Z"
                        updated_at: "2026-07-01T08:00:00Z"
                      - user_id: "USR_002"
                        display_name: "李四"
                        email: "lisi@example.com"
                        capabilities: ["read", "edit", "export"]
                        status: "active"
                        version: 1
                        granted_by: "USR_001"
                        created_at: "2026-07-01T09:00:00Z"
                        updated_at: "2026-07-01T09:00:00Z"
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

    post:
      tags: ["项目与建档"]
      summary: "添加项目成员"
      description: "Owner 添加成员。需 `管理成员` 能力。"
      operationId: "addMember"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddMemberRequest"
            examples:
              default:
                value:
                  user_id: "USR_003"
                  capabilities: ["read", "review"]
      responses:
        "201":
          description: "成员添加成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/MemberResponse"
              examples:
                default:
                  value:
                    data:
                      user_id: "USR_003"
                      display_name: "王五"
                      email: "wangwu@example.com"
                      capabilities: ["read", "review"]
                      status: "active"
                      version: 1
                      granted_by: "USR_001"
                      created_at: "2026-07-01T12:00:00Z"
                      updated_at: "2026-07-01T12:00:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/members/{userId}:
    patch:
      tags: ["项目与建档"]
      summary: "修改成员能力或状态"
      description: "Owner 修改成员能力或撤销成员。需 `管理成员` 能力。"
      operationId: "updateMember"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-versioned: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/UserId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchMemberRequest"
            examples:
              default:
                value:
                  capabilities: ["read", "edit", "review", "export"]
                  status: "active"
                  expected_version: 1
      responses:
        "200":
          description: "成员修改成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchMemberResponse"
              examples:
                default:
                  value:
                    data:
                      user_id: "USR_003"
                      display_name: "王五"
                      capabilities: ["read", "edit", "review", "export"]
                      status: "active"
                      version: 2
                      granted_by: "USR_001"
                      created_at: "2026-07-01T12:00:00Z"
                      updated_at: "2026-07-01T12:30:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/VersionConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  # ── §6 领域画像 ──

  /projects/{id}/analysis-runs:
    post:
      tags: ["领域画像", "分析与作业"]
      summary: "发起分析运行（领域画像 / 结构化提取）"
      description: |
        发起分析任务。`task=domain_profile` 生成领域画像候选；`task=structured_extraction` 执行结构化提取分析。

        需 `编辑内容/发起分析` 能力。
      operationId: "createAnalysisRun"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: "#/components/schemas/CreateDomainProfileRunRequest"
                - $ref: "#/components/schemas/CreateStructuredExtractionRunRequest"
            examples:
              domain_profile:
                summary: "领域画像分析"
                value:
                  task: "domain_profile"
                  source_ids: ["SRC_001", "SRC_002"]
                  expected_project_version: 8
              structured_extraction:
                summary: "结构化提取分析"
                value:
                  task: "structured_extraction"
                  source_ids: ["SRC_001"]
                  domain_profile_id: "DP_..."
                  domain_profile_version: 2
                  domain_pack_versions: ["software-delivery@1.0.0"]
                  expected_project_version: 8
      responses:
        "202":
          description: "Accepted - 异步任务已入队"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncAcceptedResponse"
              example:
                data:
                  job_id: "JOB_..."
                  status: "queued"
                  status_url: "/api/v1/ai-jobs/JOB_..."
                meta:
                  request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/AIActionForbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "422":
          $ref: "#/components/responses/TokenBudgetExceeded"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/formal-map:
    get:
      tags: ["正式项目"]
      summary: "查询正式项目需求地图"
      description: |
        返回正式项目当前地图快照、对话记录和正在运行的分析作业。该接口只返回候选理解和报告投影，不表示正式基线、批准或验收。
      operationId: "getFormalMapSnapshot"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: "正式项目需求地图"
          content:
            application/json:
              schema:
                type: object
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/AIActionForbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"

  /projects/{id}/formal-messages:
    post:
      tags: ["正式项目"]
      summary: "提交正式项目问诊回答"
      description: |
        向正式项目地图工作台提交一轮回答或节点引用修改，并触发新的正式项目地图生成作业。AI 只能更新候选地图和报告投影，不能写正式基线。
      operationId: "postFormalProjectMessage"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [content]
              properties:
                content:
                  type: string
                bound_refs:
                  type: array
                  items:
                    type: object
      responses:
        "202":
          description: "Accepted - 异步任务已入队"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AsyncAcceptedResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/AgreementRequired"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/RateLimited"

  /projects/{id}/domain-profile:
    get:
      tags: ["领域画像"]
      summary: "查询当前领域画像"
      description: "返回当前候选/已批准画像及版本。需 `读取项目` 能力。"
      operationId: "getDomainProfile"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
      responses:
        "200":
          description: "领域画像详情"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDomainProfileResponse"
              examples:
                default:
                  value:
                    data:
                      id: "DP_..."
                      project_id: "PRJ_..."
                      profile_version: 2
                      work_type: "healthcare-platform"
                      domain_labels: ["医疗", "在线问诊", "多院区"]
                      risk_flags: ["数据隐私", "合规"]
                      terminology_map:
                        "患者": "patient"
                        "医生": "physician"
                        "院区": "campus"
                      suggested_pack_ids: ["software-delivery", "general"]
                      required_human_roles: ["医疗合规专家", "院区运营负责人"]
                      routing_risk: "medium"
                      routing_basis:
                        complexity: "high"
                        stakeholder_count: 15
                      rationale_evidence_links: ["EVL_001", "EVL_002"]
                      unknowns:
                        - question: "跨院区数据同步延迟要求？"
                          status: "open"
                      status: "approved"
                      classifier_model: "domain-classifier-v2"
                      prompt_version: "dp-prompt-v3"
                      approved_by: "USR_001"
                      approved_at: "2026-07-01T10:00:00Z"
                      supersedes_profile_id: "DP_OLD"
                      created_at: "2026-07-01T09:00:00Z"
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/domain-profile/reviews:
    post:
      tags: ["领域画像", "评审与关口"]
      summary: "评审领域画像"
      description: |
        Reviewer/Owner 执行 `accept | modify | reject | uncertain` 评审。

        需 `执行人工关口` 能力。
      operationId: "reviewDomainProfile"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewActionRequest"
            examples:
              accept:
                value:
                  action: "accept"
                  entity_version: 2
                  reason: "领域标签和风险标记覆盖了当前业务场景"
              modify:
                value:
                  action: "modify"
                  entity_version: 2
                  reason: "需要补充医疗设备管理相关标签"
                  after_value:
                    domain_labels: ["医疗", "在线问诊", "多院区", "医疗设备管理"]
      responses:
        "201":
          description: "评审已记录"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewActionResponse"
              examples:
                accept:
                  value:
                    data:
                      id: "RV_..."
                      gate: "domain_profile"
                      entity_type: "domain_profile"
                      entity_id: "DP_..."
                      entity_version: 2
                      action: "accept"
                      reviewer_id: "USR_001"
                      reason: "领域标签和风险标记覆盖了当前业务场景"
                      after_value: null
                      follow_up: null
                      created_at: "2026-07-01T14:00:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /domain-packs:
    get:
      tags: ["领域画像"]
      summary: "列出领域包"
      description: "v1 只列出内置 `general` 和静态 `software-delivery` 配置。"
      operationId: "listDomainPacks"
      security:
        - bearerAuth: []
        - cookieAuth: []
      responses:
        "200":
          description: "领域包列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDomainPacksResponse"
              examples:
                default:
                  value:
                    data:
                      - id: "general"
                        name: "通用领域配置"
                        latest_version: "1.0.0"
                        status: "released"
                        compatible_core_schema: "1.0.0"
                        released_at: "2026-06-01T00:00:00Z"
                      - id: "software-delivery"
                        name: "软件交付领域配置"
                        latest_version: "1.0.0"
                        status: "released"
                        compatible_core_schema: "1.0.0"
                        released_at: "2026-06-01T00:00:00Z"
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /domain-packs/{id}/versions/{version}:
    get:
      tags: ["领域画像"]
      summary: "获取领域包版本详情"
      description: |
        返回 manifest、适用条件和版本状态。

        版本不存在时返回 `404 RESOURCE_NOT_FOUND`。
      operationId: "getDomainPackVersion"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/DomainPackId"
        - $ref: "#/components/parameters/DomainPackVersion"
      responses:
        "200":
          description: "领域包版本详情"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDomainPackVersionResponse"
              examples:
                default:
                  value:
                    data:
                      id: "software-delivery"
                      version: "1.0.0"
                      name: "软件交付领域配置"
                      status: "released"
                      compatible_core_schema: "1.0.0"
                      manifest:
                        entity_types: ["requirement", "outcome", "driver"]
                        custom_fields:
                          - name: "story_points"
                            type: "integer"
                            entity: "requirement"
                        gates: ["definition_of_ready", "definition_of_done"]
                      manifest_hash: "sha256:..."
                      released_at: "2026-06-01T00:00:00Z"
                      deprecated_at: null
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/domain-packs/{packId}/activations:
    post:
      tags: ["领域画像"]
      summary: "激活领域包"
      description: |
        人工激活指定版本。同一项目同一配置同时最多一个 `active` 版本。

        需 `编辑内容/发起分析` 能力。
      operationId: "activateDomainPack"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/PackId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ActivateDomainPackRequest"
            examples:
              default:
                value:
                  domain_pack_version: "software-delivery@1.0.0"
                  domain_profile_id: "DP_..."
                  activation_reason: "当前项目属于软件交付领域，需要相应的需求模板和关口定义"
      responses:
        "201":
          description: "领域包激活成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ActivateDomainPackResponse"
              examples:
                default:
                  value:
                    data:
                      id: "PDP_..."
                      project_id: "PRJ_..."
                      domain_pack_id: "software-delivery"
                      domain_pack_version: "1.0.0"
                      domain_profile_id: "DP_..."
                      activation_reason: "当前项目属于软件交付领域，需要相应的需求模板和关口定义"
                      status: "active"
                      activated_by: "USR_001"
                      activated_at: "2026-07-01T14:30:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/domain-packs/{packId}/deactivation-previews:
    post:
      tags: ["领域画像"]
      summary: "领域包停用预演"
      description: "只计算停用影响，不修改激活状态。需 `编辑内容/发起分析` 能力。"
      operationId: "previewDeactivation"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/PackId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                domain_pack_version:
                  type: string
                  description: "领域包版本标识，格式 `{pack_id}@{version}`"
                  example: "software-delivery@1.0.0"
              required: ["domain_pack_version"]
      responses:
        "200":
          description: "停用预演结果"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/domain-packs/{packId}/deactivations:
    post:
      tags: ["领域画像"]
      summary: "执行领域包停用"
      description: |
        携带已确认的 `preview_id` 和 `expected_version` 执行停用；已使用版本仍保留历史引用。

        需 `编辑内容/发起分析` 能力。
      operationId: "deactivateDomainPack"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      x-versioned: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/PackId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: false
              properties:
                preview_id:
                  type: string
                  description: "停用预演 ID"
                domain_pack_version:
                  type: string
                  description: "领域包版本标识，格式 `{pack_id}@{version}`"
                expected_version:
                  type: integer
                  description: "乐观锁版本号"
              required: ["preview_id", "domain_pack_version", "expected_version"]
      responses:
        "200":
          description: "停用成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/VersionConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  # ── §7 来源与证据 ──

  /projects/{id}/sources:
    get:
      tags: ["来源与证据"]
      summary: "查询来源列表"
      description: "返回解析状态。需 `读取项目` 能力。"
      operationId: "listSources"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: "来源列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListSourcesResponse"
              examples:
                default:
                  value:
                    data:
                      - id: "SRC_001"
                        file_name: "需求访谈记录.pdf"
                        media_type: "application/pdf"
                        source_type: "document"
                        sensitivity: "confidential"
                        extraction_status: "parsed"
                        byte_size: 2457600
                        created_by: "USR_001"
                        created_at: "2026-07-01T15:00:00Z"
                      - id: "SRC_002"
                        file_name: "竞品分析.xlsx"
                        media_type: "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                        source_type: "document"
                        sensitivity: "internal"
                        extraction_status: "uploaded"
                        byte_size: 102400
                        created_by: "USR_001"
                        created_at: "2026-07-01T15:05:00Z"
                    meta:
                      request_id: "REQ_..."
                      cursor: "SRC_002"
                      has_more: false
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

    post:
      tags: ["来源与证据"]
      summary: "上传来源"
      description: |
        使用 `multipart/form-data` 上传来源文件。服务端保存不可变原件、计算哈希并创建解析 Job。

        需 `编辑内容/发起分析` 能力。
      operationId: "uploadSource"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: ["file", "metadata"]
              properties:
                file:
                  type: string
                  format: binary
                  description: "上传文件（PDF、DOCX、TXT、MD、CSV、PNG、JPEG）"
                metadata:
                  type: object
                  required: ["source_type", "sensitivity"]
                  properties:
                    source_type:
                      type: string
                      description: "来源类型：`document` / `transcript` / `meeting_notes` 等"
                      example: "document"
                    author:
                      type: ["string", "null"]
                      description: "作者"
                    captured_at:
                      type: string
                      format: date-time
                      description: "采集时间"
                    sensitivity:
                      type: string
                      description: "敏感度：`public` / `internal` / `confidential` / `restricted`"
                      example: "confidential"
            examples:
              default:
                summary: "上传来源示例"
                value:
                  file: "<binary content>"
                  metadata:
                    source_type: "document"
                    author: "张三"
                    captured_at: "2026-06-28T10:00:00Z"
                    sensitivity: "confidential"
      responses:
        "201":
          description: "来源上传成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UploadSourceResponse"
              examples:
                default:
                  value:
                    data:
                      id: "SRC_..."
                      project_id: "PRJ_..."
                      file_name: "需求访谈记录.pdf"
                      media_type: "application/pdf"
                      source_type: "document"
                      author: "张三"
                      captured_at: "2026-06-28T10:00:00Z"
                      sensitivity: "confidential"
                      extraction_status: "queued"
                      blob_id: "BLB_..."
                      byte_size: 2457600
                      sha256: "sha256:..."
                      created_by: "USR_001"
                      created_at: "2026-07-01T15:00:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /evidence/{id}:
    get:
      tags: ["来源与证据"]
      summary: "获取证据片段"
      description: "返回授权范围内的精确片段和定位信息。需 `读取项目` 能力。"
      operationId: "getEvidence"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/EvidenceId"
      responses:
        "200":
          description: "证据片段详情"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetEvidenceResponse"
              examples:
                default:
                  value:
                    data:
                      id: "EVS_..."
                      source_id: "SRC_001"
                      page: 3
                      section: "3.2 非功能性需求"
                      coordinate_space: "normalized_unicode_codepoint_v1"
                      start_offset: 1200
                      end_offset: 1450
                      exact_text: "系统响应时间应在 200ms 以内，并发用户数不低于 500。"
                      normalized_text: "系统响应时间应在 200ms 以内，并发用户数不低于 500。"
                      span_hash: "sha256:..."
                      created_at: "2026-07-01T15:10:00Z"
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/EvidenceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  # ── §8 分析与异步作业 ──

  /ai-jobs/{id}:
    get:
      tags: ["分析与作业"]
      summary: "轮询作业状态"
      description: |
        状态、进度、可恢复错误和结果引用。

        **轮询策略**：客户端应使用指数退避，序列为 **2s → 4s → 8s → 16s → 30s（上限）**。最大轮询时间 10 分钟。

        正式项目 Job 要求项目读取能力；快速问诊或训练 Job 允许其当前所有用户查询，游客须持有所属游客凭证。作用域不属于当前主体时统一返回 404。
      operationId: "getJobStatus"
      security:
        - guestSessionAuth: []
        - guestSessionCookieAuth: []
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/JobId"
      responses:
        "200":
          description: "作业状态"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetJobResponse"
              examples:
                running:
                  summary: "处理中"
                  value:
                    data:
                      job_id: "JOB_..."
                      task: "structured_extraction"
                      status: "running"
                      progress: 45
                      current_step: "正在提取 Outcome 实体……"
                      attempts: 1
                      max_attempts: 3
                      result: null
                      created_at: "2026-07-01T16:00:00Z"
                      updated_at: "2026-07-01T16:01:30Z"
                    meta:
                      request_id: "REQ_..."
                succeeded:
                  summary: "已完成"
                  value:
                    data:
                      job_id: "JOB_..."
                      task: "structured_extraction"
                      status: "succeeded"
                      progress: 100
                      current_step: "分析完成"
                      attempts: 1
                      max_attempts: 3
                      result:
                        result_type: "analysis_result"
                        run_id: "RUN_..."
                        outcome_count: 3
                        requirement_count: 12
                        driver_count: 5
                        conflict_count: 2
                        parsed_output_hash: "sha256:..."
                      created_at: "2026-07-01T16:00:00Z"
                      updated_at: "2026-07-01T16:03:00Z"
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /ai-jobs/{id}/cancel:
    post:
      tags: ["分析与作业"]
      summary: "取消作业"
      description: |
        仅取消未完成任务，不回滚已经成功提交的领域事务。

        正式项目 Job 需 `编辑内容/发起分析` 能力；快速问诊或训练 Job 允许其当前所有用户取消，游客须持有所属游客凭证。作用域不属于当前主体时统一返回 404。
      operationId: "cancelJob"
      security:
        - guestSessionAuth: []
        - guestSessionCookieAuth: []
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/JobId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CancelJobRequest"
            examples:
              default:
                value:
                  reason: "用户不再需要此分析结果"
      responses:
        "200":
          description: "作业已取消"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CancelJobResponse"
              examples:
                default:
                  value:
                    data:
                      job_id: "JOB_..."
                      status: "cancelled"
                      cancellation_reason: "用户不再需要此分析结果"
                      cancelled_by_kind: "user"
                      cancelled_by: "USR_001"
                      cancelled_at: "2026-07-01T16:05:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  # ── §9 需求工程 ──

  /projects/{id}/outcomes:
    get:
      tags: ["需求工程"]
      summary: "查询成果列表"
      description: "按状态、版本和认识类型查询。需 `读取项目` 能力。"
      operationId: "listOutcomes"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: "status"
          in: query
          schema:
            type: string
          description: "按状态筛选"
        - name: "epistemic_type"
          in: query
          schema:
            $ref: "#/components/schemas/DescriptiveEpistemicType"
          description: "按认识类型筛选"
      responses:
        "200":
          description: "成果列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOutcomesResponse"
              examples:
                default:
                  value:
                    data:
                      - id: "OUT_..."
                        project_id: "PRJ_..."
                        driver_id: "DRV_001"
                        job_id: "JOB_001"
                        description: "患者在线问诊等待时间从平均 30 分钟降至 5 分钟以内"
                        success_metric: "平均等待时间"
                        baseline_value: "30"
                        target_value: "5"
                        unit: "分钟"
                        failure_condition: "等待时间超过 10 分钟"
                        horizon: "now"
                        owner_id: "USR_001"
                        epistemic_type: "Proposal"
                        status: "candidate"
                        version: 1
                        created_at: "2026-07-01T16:00:00Z"
                        updated_at: "2026-07-01T16:00:00Z"
                    meta:
                      request_id: "REQ_..."
                      cursor: "OUT_..."
                      has_more: false
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/requirements:
    get:
      tags: ["需求工程"]
      summary: "查询需求列表"
      description: "按状态、版本和来源类型查询。需 `读取项目` 能力。"
      operationId: "listRequirements"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: "lifecycle_status"
          in: query
          schema:
            $ref: "#/components/schemas/RequirementStatus"
          description: "按生命周期状态筛选"
        - name: "provenance"
          in: query
          schema:
            $ref: "#/components/schemas/RequirementProvenance"
          description: "按来源类型筛选"
      responses:
        "200":
          description: "需求列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListRequirementsResponse"
              examples:
                default:
                  value:
                    data:
                      - id: "REQ_..."
                        project_id: "PRJ_..."
                        requirement_key: "REQ-PERF-001"
                        title: "问诊响应时间"
                        statement: "系统应在 200ms 内响应用户问诊请求"
                        requirement_type: "performance"
                        provenance: "explicitly_stated"
                        horizon: "now"
                        scope_disposition: "included"
                        commitment: "committed"
                        stability: "stable"
                        priority: "high"
                        valid_from: "2026-07-01T00:00:00Z"
                        valid_until: null
                        reversibility: "medium"
                        volatility_drivers: []
                        lifecycle_status: "candidate"
                        rationale: "来源于用户访谈中对响应速度的明确要求"
                        version: 1
                        created_at: "2026-07-01T16:00:00Z"
                        updated_at: "2026-07-01T16:00:00Z"
                    meta:
                      request_id: "REQ_..."
                      cursor: "REQ_..."
                      has_more: false
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/drivers:
    get:
      tags: ["需求工程"]
      summary: "查询 Driver 列表"
      description: "查询项目的所有 Driver。需 `读取项目` 能力。"
      operationId: "listDrivers"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: "driver_type"
          in: query
          schema:
            $ref: "#/components/schemas/DriverType"
          description: "按 Driver 类型筛选"
        - name: "status"
          in: query
          schema:
            type: string
          description: "按状态筛选"
      responses:
        "200":
          description: "Driver 列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListDriversResponse"
              examples:
                default:
                  value:
                    data:
                      - id: "DRV_001"
                        project_id: "PRJ_..."
                        driver_type: "outcome"
                        statement: "减少患者平均等待时间"
                        owner_id: "USR_001"
                        status: "candidate"
                        version: 1
                        created_at: "2026-07-01T16:00:00Z"
                        updated_at: "2026-07-01T16:00:00Z"
                      - id: "DRV_002"
                        project_id: "PRJ_..."
                        driver_type: "risk"
                        statement: "患者数据隐私泄露风险"
                        owner_id: "USR_002"
                        status: "candidate"
                        version: 1
                        created_at: "2026-07-01T16:05:00Z"
                        updated_at: "2026-07-01T16:05:00Z"
                    meta:
                      request_id: "REQ_..."
                      cursor: "DRV_002"
                      has_more: false
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

    post:
      tags: ["需求工程"]
      summary: "创建 Driver"
      description: "创建新 Driver。需 `编辑内容/发起分析` 能力。"
      operationId: "createDriver"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateDriverRequest"
            examples:
              default:
                value:
                  driver_type: "goal"
                  statement: "构建覆盖全市的在线问诊网络"
                  owner_id: "USR_001"
      responses:
        "201":
          description: "Driver 创建成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DriverResponse"
              examples:
                default:
                  value:
                    data:
                      id: "DRV_003"
                      project_id: "PRJ_..."
                      driver_type: "goal"
                      statement: "构建覆盖全市的在线问诊网络"
                      owner_id: "USR_001"
                      status: "candidate"
                      version: 1
                      created_at: "2026-07-01T16:10:00Z"
                      updated_at: "2026-07-01T16:10:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /drivers/{id}:
    patch:
      tags: ["需求工程"]
      summary: "修改 Driver"
      description: "修改 Driver，需 `expected_version`。需 `编辑内容/发起分析` 能力。"
      operationId: "updateDriver"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-versioned: true
      parameters:
        - $ref: "#/components/parameters/DriverId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchDriverRequest"
            examples:
              default:
                value:
                  statement: "构建覆盖全市及周边县域的在线问诊网络"
                  owner_id: "USR_002"
                  expected_version: 1
      responses:
        "200":
          description: "Driver 修改成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchDriverResponse"
              examples:
                default:
                  value:
                    data:
                      id: "DRV_003"
                      project_id: "PRJ_..."
                      driver_type: "goal"
                      statement: "构建覆盖全市及周边县域的在线问诊网络"
                      owner_id: "USR_002"
                      status: "candidate"
                      version: 2
                      created_at: "2026-07-01T16:10:00Z"
                      updated_at: "2026-07-01T16:15:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/VersionConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /outcomes/{id}:
    patch:
      tags: ["需求工程"]
      summary: "修改 Outcome"
      description: "维护 Job 关联、成功指标、基准、目标、单位、失败条件、时间和责任人。需 `编辑内容/发起分析` 能力。"
      operationId: "updateOutcome"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-versioned: true
      parameters:
        - $ref: "#/components/parameters/OutcomeId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchOutcomeRequest"
            examples:
              default:
                value:
                  description: "患者在线问诊等待时间从平均 30 分钟降至 3 分钟以内"
                  success_metric: "平均等待时间"
                  baseline_value: "30"
                  target_value: "3"
                  unit: "分钟"
                  failure_condition: "等待时间超过 8 分钟"
                  horizon: "now"
                  owner_id: "USR_001"
                  expected_version: 1
      responses:
        "200":
          description: "Outcome 修改成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchOutcomeResponse"
              examples:
                default:
                  value:
                    data:
                      id: "OUT_..."
                      project_id: "PRJ_..."
                      driver_id: "DRV_001"
                      description: "患者在线问诊等待时间从平均 30 分钟降至 3 分钟以内"
                      success_metric: "平均等待时间"
                      baseline_value: "30"
                      target_value: "3"
                      unit: "分钟"
                      failure_condition: "等待时间超过 8 分钟"
                      horizon: "now"
                      owner_id: "USR_001"
                      epistemic_type: "Inference"
                      status: "candidate"
                      version: 2
                      created_at: "2026-07-01T16:10:00Z"
                      updated_at: "2026-07-01T16:20:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/VersionConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /requirements/{id}:
    patch:
      tags: ["需求工程"]
      summary: "修改 Requirement"
      description: "Editor 修改并产生新版本，需 `expected_version`。需 `编辑内容/发起分析` 能力。"
      operationId: "updateRequirement"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-versioned: true
      parameters:
        - $ref: "#/components/parameters/RequirementId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/PatchRequirementRequest"
            examples:
              default:
                value:
                  title: "问诊响应时间（修订）"
                  statement: "系统应在 150ms 内响应用户问诊请求，P99 不超过 300ms"
                  requirement_type: "performance"
                  commitment: "committed"
                  stability: "stable"
                  priority: "critical"
                  horizon: "now"
                  scope_disposition: "included"
                  owner_id: "USR_001"
                  rationale: "根据竞品分析和医院方要求，将响应时间目标收紧至 150ms"
                  expected_version: 1
      responses:
        "200":
          description: "Requirement 修改成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/PatchRequirementResponse"
              examples:
                default:
                  value:
                    data:
                      id: "REQ_..."
                      project_id: "PRJ_..."
                      requirement_key: "REQ-PERF-001"
                      title: "问诊响应时间（修订）"
                      statement: "系统应在 150ms 内响应用户问诊请求，P99 不超过 300ms"
                      requirement_type: "performance"
                      provenance: "explicitly_stated"
                      horizon: "now"
                      scope_disposition: "included"
                      commitment: "committed"
                      stability: "stable"
                      priority: "critical"
                      owner_id: "USR_001"
                      valid_from: "2026-07-01T00:00:00Z"
                      reversibility: "medium"
                      volatility_drivers: []
                      lifecycle_status: "candidate"
                      rationale: "根据竞品分析和医院方要求，将响应时间目标收紧至 150ms"
                      version: 2
                      created_at: "2026-07-01T16:00:00Z"
                      updated_at: "2026-07-01T16:25:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/VersionConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /requirements/{id}/acceptance-criteria:
    get:
      tags: ["需求工程"]
      summary: "查询验收标准列表"
      description: "查询需求的验收/评价标准列表。需 `读取项目` 能力。"
      operationId: "listAcceptanceCriteria"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/RequirementId"
      responses:
        "200":
          description: "验收标准列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAcceptanceCriteriaResponse"
              examples:
                default:
                  value:
                    data:
                      - id: "AC_001"
                        project_id: "PRJ_..."
                        requirement_id: "REQ_..."
                        context: "正常网络环境下"
                        action_or_condition: "发送问诊请求"
                        expected_result: "系统在 200ms 内返回响应"
                        measurement_method: "性能测试工具"
                        evidence_type: "test_report"
                        threshold_value: "200"
                        unit: "ms"
                        status: "draft"
                        version: 1
                        created_at: "2026-07-01T16:30:00Z"
                        updated_at: "2026-07-01T16:30:00Z"
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

    post:
      tags: ["需求工程"]
      summary: "新增验收标准"
      description: "新增验收/评价标准。需 `编辑内容/发起分析` 能力。"
      operationId: "createAcceptanceCriterion"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/RequirementId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateAcceptanceCriterionRequest"
            examples:
              default:
                value:
                  context: "高并发场景（500 并发用户）"
                  action_or_condition: "同时发送问诊请求"
                  expected_result: "P95 响应时间不超过 500ms"
                  measurement_method: "JMeter 压力测试"
                  evidence_type: "test_report"
                  threshold_value: "500"
                  unit: "ms"
      responses:
        "201":
          description: "验收标准创建成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AcceptanceCriterionResponse"
              examples:
                default:
                  value:
                    data:
                      id: "AC_002"
                      project_id: "PRJ_..."
                      requirement_id: "REQ_..."
                      context: "高并发场景（500 并发用户）"
                      action_or_condition: "同时发送问诊请求"
                      expected_result: "P95 响应时间不超过 500ms"
                      measurement_method: "JMeter 压力测试"
                      evidence_type: "test_report"
                      threshold_value: "500"
                      unit: "ms"
                      status: "draft"
                      version: 1
                      created_at: "2026-07-01T16:35:00Z"
                      updated_at: "2026-07-01T16:35:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /requirements/{id}/verification-artifacts:
    post:
      tags: ["需求工程"]
      summary: "登记验证工件"
      description: "登记验证工件、来源与结果。需 `编辑内容/发起分析` 能力。"
      operationId: "createVerificationArtifact"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/RequirementId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateVerificationArtifactRequest"
            examples:
              default:
                value:
                  acceptance_criterion_id: "AC_001"
                  artifact_type: "test_report"
                  description: "性能测试报告 - 2026Q3"
                  source_id: "SRC_005"
                  result: "passed"
                  executed_at: "2026-07-01T16:00:00Z"
      responses:
        "201":
          description: "验证工件登记成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateVerificationArtifactResponse"
              examples:
                default:
                  value:
                    data:
                      id: "VA_..."
                      project_id: "PRJ_..."
                      requirement_id: "REQ_..."
                      acceptance_criterion_id: "AC_001"
                      artifact_type: "test_report"
                      description: "性能测试报告 - 2026Q3"
                      source_id: "SRC_005"
                      result: "passed"
                      executed_at: "2026-07-01T16:00:00Z"
                      status: "available"
                      created_at: "2026-07-01T16:40:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /requirements/{id}/operational-signals:
    get:
      tags: ["需求工程"]
      summary: "查询持续观测信号"
      description: "查询持续观测定义与状态。需 `读取项目` 能力。"
      operationId: "listOperationalSignals"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/RequirementId"
      responses:
        "200":
          description: "观测信号列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListOperationalSignalsResponse"
              examples:
                default:
                  value:
                    data:
                      - id: "OPS_001"
                        project_id: "PRJ_..."
                        requirement_id: "REQ_..."
                        name: "问诊响应时间 P99"
                        measurement: "每 5 分钟采集 P99 响应时间"
                        threshold_value: "300"
                        unit: "ms"
                        observation_window: "7d"
                        owner_id: "USR_001"
                        review_cadence: "weekly"
                        trigger_condition: "P99 > 300ms 持续超过 1 小时"
                        status: "active"
                        version: 1
                        created_at: "2026-07-01T16:45:00Z"
                        updated_at: "2026-07-01T16:45:00Z"
                    meta:
                      request_id: "REQ_..."
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/future-scenarios:
    get:
      tags: ["需求工程"]
      summary: "查询未来场景"
      description: "查询 Next/Later/Watch 的触发情景和领先指标。需 `读取项目` 能力。"
      operationId: "listFutureScenarios"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: "未来场景列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListFutureScenariosResponse"
              examples:
                default:
                  value:
                    data:
                      - id: "FSC_001"
                        project_id: "PRJ_..."
                        name: "日均问诊量突破 10000"
                        description: "当平台日均问诊量突破 10000 时，需要评估系统架构是否需要水平扩展"
                        probability_class: "medium"
                        activation_trigger: "日均问诊量连续 3 天超过 10000"
                        leading_indicators:
                          - metric: "日均问诊量"
                            current: 3200
                            trend: "rising"
                        horizon: "next"
                        architecture_response: "引入消息队列和读写分离"
                        status: "active"
                        version: 1
                        created_at: "2026-07-01T16:50:00Z"
                        updated_at: "2026-07-01T16:50:00Z"
                    meta:
                      request_id: "REQ_..."
                      cursor: "FSC_001"
                      has_more: false
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

    post:
      tags: ["需求工程"]
      summary: "创建未来场景"
      description: "创建未来场景。需 `编辑内容/发起分析` 能力。"
      operationId: "createFutureScenario"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateFutureScenarioRequest"
            examples:
              default:
                value:
                  name: "医保政策调整"
                  description: "若医保局调整在线问诊报销比例，需评估对业务模型的影响"
                  probability_class: "low"
                  activation_trigger: "医保局发布新版在线诊疗报销政策"
                  leading_indicators:
                    - metric: "政策征求意见稿发布"
                      current: false
                      trend: "unknown"
                  horizon: "watch"
      responses:
        "201":
          description: "未来场景创建成功"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/FutureScenarioResponse"
              examples:
                default:
                  value:
                    data:
                      id: "FSC_002"
                      project_id: "PRJ_..."
                      name: "医保政策调整"
                      description: "若医保局调整在线问诊报销比例，需评估对业务模型的影响"
                      probability_class: "low"
                      activation_trigger: "医保局发布新版在线诊疗报销政策"
                      leading_indicators:
                        - metric: "政策征求意见稿发布"
                          current: false
                          trend: "unknown"
                      horizon: "watch"
                      architecture_response: null
                      status: "draft"
                      version: 1
                      created_at: "2026-07-01T16:55:00Z"
                      updated_at: "2026-07-01T16:55:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/interview-turns:
    get:
      tags: ["需求工程"]
      summary: "查询正式访谈记录"
      description: "返回正式项目访谈轮次，用于页面恢复、筛选和证据跳转。该端点只读，不触发 AI 追问。需 `读取项目` 能力。"
      operationId: "listInterviewTurns"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: "role"
          in: query
          required: false
          schema:
            type: string
            enum: ["interviewer", "stakeholder", "system"]
          description: "按访谈发言角色筛选"
      responses:
        "200":
          description: "正式访谈记录列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListInterviewTurnsResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /projects/{id}/stakeholders:
    get:
      tags: ["需求工程"]
      summary: "查询相关角色"
      description: "返回正式项目识别到的相关角色和责任边界。需 `读取项目` 能力。"
      operationId: "listStakeholders"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
      responses:
        "200":
          description: "相关角色列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListStakeholdersResponse"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /projects/{id}/evidence-links:
    get:
      tags: ["需求工程"]
      summary: "查询实体证据关系"
      description: "按实体或证据关系查询证据链接，用于从需求、成果、冲突等实体跳转到来源片段。需 `读取项目` 能力。"
      operationId: "listEvidenceLinks"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: "entity_type"
          in: query
          required: false
          schema:
            type: string
          description: "实体类型筛选"
        - name: "entity_id"
          in: query
          required: false
          schema:
            type: string
          description: "实体 ID 筛选；与 entity_type 同时使用"
      responses:
        "200":
          description: "证据关系列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListEvidenceLinksResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /projects/{id}/trace-links:
    get:
      tags: ["需求工程"]
      summary: "查询追踪关系"
      description: "查询实体间追踪链，用于展示 Driver、Outcome、Requirement、Decision、Change 等对象之间的来源与影响。需 `读取项目` 能力。"
      operationId: "listTraceLinks"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/Limit"
        - $ref: "#/components/parameters/Cursor"
        - name: "from_type"
          in: query
          required: false
          schema:
            type: string
        - name: "from_id"
          in: query
          required: false
          schema:
            type: string
        - name: "to_type"
          in: query
          required: false
          schema:
            type: string
        - name: "to_id"
          in: query
          required: false
          schema:
            type: string
      responses:
        "200":
          description: "追踪关系列表"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListTraceLinksResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  # ── 评审与关口 ──

  /conflicts/{id}:
    get:
      tags: ["评审与关口"]
      summary: "查询冲突详情"
      description: "返回冲突摘要、双方观点、候选方案和当前决策引用。需 `读取项目` 能力。"
      operationId: "getConflictDetail"
      security:
        - bearerAuth: []
        - cookieAuth: []
      parameters:
        - $ref: "#/components/parameters/ConflictId"
      responses:
        "200":
          description: "冲突详情"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetConflictDetailResponse"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "429":
          $ref: "#/components/responses/RateLimited"

  /outcomes/{id}/reviews:
    post:
      tags: ["评审与关口"]
      summary: "评审 Outcome"
      description: "对 Outcome 执行类型化评审。需 `执行人工关口` 能力。"
      operationId: "reviewOutcome"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/OutcomeId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewActionRequest"
            examples:
              accept:
                value:
                  action: "accept"
                  entity_version: 2
                  reason: "成功指标和失败条件均已明确，可进入下一阶段"
      responses:
        "201":
          description: "评审已记录"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewActionResponse"
              examples:
                accept:
                  value:
                    data:
                      id: "RV_..."
                      project_id: "PRJ_..."
                      entity_type: "outcome"
                      entity_id: "OUT_..."
                      entity_version: 2
                      action: "accept"
                      reviewer_id: "USR_001"
                      reason: "成功指标和失败条件均已明确，可进入下一阶段"
                      after_value: null
                      follow_up: null
                      created_at: "2026-07-01T17:00:00Z"
                    meta:
                      request_id: "REQ_..."
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /drivers/{id}/reviews:
    post:
      tags: ["评审与关口"]
      summary: "评审 Driver"
      description: "对 Driver 执行类型化评审。需 `执行人工关口` 能力。"
      operationId: "reviewDriver"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/DriverId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewActionRequest"
            examples:
              accept:
                value:
                  action: "accept"
                  entity_version: 1
                  reason: "Driver 陈述清晰，与项目目标一致"
      responses:
        "201":
          description: "评审已记录"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewActionResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /requirements/{id}/reviews:
    post:
      tags: ["评审与关口"]
      summary: "评审 Requirement"
      description: "对 Requirement 执行类型化评审。需 `执行人工关口` 能力。"
      operationId: "reviewRequirement"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/RequirementId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewActionRequest"
            examples:
              accept:
                value:
                  action: "accept"
                  entity_version: 2
                  reason: "需求陈述清晰，验收标准完备"
      responses:
        "201":
          description: "评审已记录"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewActionResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /conflicts/{id}/reviews:
    post:
      tags: ["评审与关口"]
      summary: "评审 Conflict"
      description: "对 Conflict 执行类型化评审。需 `执行人工关口` 能力。"
      operationId: "reviewConflict"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ConflictId"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewActionRequest"
      responses:
        "201":
          description: "评审已记录"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReviewActionResponse"
        "400":
          $ref: "#/components/responses/ValidationError"
        "401":
          $ref: "#/components/responses/AuthenticationRequired"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/ResourceNotFound"
        "409":
          $ref: "#/components/responses/IdempotencyConflict"
        "429":
          $ref: "#/components/responses/ModelRateLimited"
        "503":
          $ref: "#/components/responses/ModelUnavailable"

  /projects/{id}/gates/{gate}/reviews:
    post:
      tags: ["评审与关口"]
      summary: "项目关口评审"
      description: |
        执行 `outcome | evidence_conflict | scope` 三个项目关口。

        需 `执行人工关口` 能力。
      operationId: "reviewGate"
      security:
        - bearerAuth: []
        - cookieAuth: []
      x-idempotent: true
      parameters:
        - $ref: "#/components/parameters/ProjectId"
        - $ref: "#/components/parameters/GateType"
        - $ref: "#/components/parameters/IdempotencyKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReviewActionRequest"
            examples:
              uncertain:
                value:
                  action: "uncertain"
                  entity_version: 3
                  reason: "缺少现场等待时间数据"
                  follow_up:
                    owner_id: "USR_..."
                    required_evidence: "一周高峰期样本"
                    review_condition: "样本完成"
      responses:
        "201":
          description: "关口评审已记录"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GateReviewResponse"
              examples:
                uncertain:
                  value:
                    data:
                      id: "RV_..."
                      project_id: "PRJ_..."
                      gate: "evidence_conflict"
                      entity_type: "project"
                      entity_id: "PRJ_..."
                      entity_version: 3
                      action: "uncertain"
                      reviewer_id: "USR_001"
                      reason: "缺少现场等待时间数据"
                      after_value: null
                      follow_up:
                        owner_id: "USR_002"
                        required_evidence: "一周高峰期样本"
                        review_condition: "样本完成"
                      created_at: "2026-07-01T17:05:00Z"
                    meta:
[...]
